<div>
    <h5>{{fullname}}</h5>
</div>
<table class="table table-sm ml-3 mt-4">
    <thead *ngIf="config" class="thead-light">
        <tr>
            <th>{{config.id.label}}</th>
            <th>{{config.decDatetime.label}}</th>
            <th>{{config.content.label}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dec of decs;">
            <td><a [routerLink]="['/health/result']"
                [queryParams]="{ id:  dec.healthDeclarationId }">{{dec.healthDeclarationId}}</a></td>
            <td>{{dec.decDatetime | date:'dd/MM/y HH:mm':'+1400'}}</td>
            <td>{{dec.content}}</td>
        </tr>
    </tbody>
</table>