<div class="container" style="margin-top:80px">
    <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">NOIBAI CATERING SERVICES JSC</h5>
          <p>Thoroughly understanding customers' demands and requirements is the key factor of our business development and success.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fa fa-home me-3"></i> Noi Bai International Airport, Hanoi, Vietnam</p>
            <p>
              <i class="fa fa-envelope me-3"></i>
              <a href="mailto:Marketing@noibaicatering.com.vn">Marketing@noibaicatering.com.vn</a>
            </p>
            <p><i class="fa fa-phone me-3"></i>Catering Direct order: (84) 9 3648 5289</p>
            <p><i class="fa fa-phone me-3"></i>Marketing Department:(84.24) 3886 5577 ext 234</p>
          </div>
          <!-- Grid column -->
        </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright: 
      <a href="https://noibaicatering.com.vn/">NoiBai Catering Services Jsc (NCS)</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->